@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text');

@font-face {
  font-family: 'Anton';
  src: url('./fonts/Anton-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson+Text';
  src: url('./fonts/CrimsonText-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


h1{
  font-family: 'Anton-Regular', sans-serif;
  font-weight: bolder;
  font-size: 5em;
  text-decoration: underline;
}

h2{
  font-family: 'Anton-Regular', sans-serif;
  font-weight: bold;
  font-size: 2em;
}

h3{
  font-family: 'Anton-Regular', sans-serif;
  font-weight: bold;
  font-size: 1em
}

* {
  letter-spacing: 0.5px;
}

p{
  font-family: 'Crimson+Text', 'courier', serif;
  font-weight: lighter;
  font-size: 2em;
  text-align: center;
}
